.label {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  margin-left: 15px;
}

.checkbox-icon {
  background: transparent;
  border: 1px solid #b2b8bf;
  border-radius: 10px;
  display: block;
  height: 30px;
  width: 30px;
  flex: none;
  left: 0;
  position: relative;
  top: 0;
  //   transition: all 0.2s ease;
  &:after {
    content: "";
    height: 17px;
    left: 1px;
    right: 0;
    margin: 0 auto;
    position: absolute;
    top: 7px;
    width: 17px;
  }
}

.input {
  cursor: pointer;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
  &:checked ~ .checkbox-icon:after {
    background: url(../../assets/svg/check.svg) no-repeat center;
  }
}

.label-container {
  align-items: center;
  cursor: pointer;
  display: flex;
  position: relative;
}
